body {
  /* background-color: rgb(255, 255, 255); */
}

.form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.firstrow,
.secrow,
.thirdrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-box {
  width: 800px;
  padding: 15px;
  background-color: aliceblue;
  border: 1px solid #000;
  border-radius: 5px;
}

.form-box h2 {
  color: #000;
  text-align: center;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box label {
  width: 200px;
  margin-bottom: 1px;
  display: block;
}

.form-box input {
  padding: 5px;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 5px;
  align-items: start;
}

.form-box button {
   /* align-items:flex-end; */
    width: 100px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #202123;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: initial;
}

.form-box button:hover {
  background-color: #0f0f10;
}
