
.cattle-list {
 
  margin: 0 auto;
  padding: 20px;
}

.test1{
  cursor: pointer;
}

.header{
  text-align: center;
  text-decoration: none;
  padding: 6px 10px;
  color: #ffffff;
  background-color: #111212;
  border: 2px solid #1d1f20;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.cattle-head{
 
  display: flex;
  flex-direction: row;
  color: white;
  justify-content:space-between;
}

.cattle-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.cow-item {
  flex: 0 0 calc(33.33% - 20px); /* Adjust for margin and padding */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #4b0082;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: colorChange 5s infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes colorChange {
  0%, 100% {
    background-color: #76767b;
  }
  50% {
    background-color: #000000;
  }
}

.cow-item:hover {
  transform: scale(1.05);
}





h2{
  color: rgb(6, 6, 6);
}
.cattle-list {
  position: relative;
}

.cow-details {
  display: flex;
  align-items: center; /* Align items vertically */
  background-color:rgb(252, 252, 252);
  height: 60vh;
  border-radius: 10px;
}

.image-container {
  flex: 2;
  margin-right: 20px; /* Add spacing between image and details */
  margin-left: 20px;
}

.details-container {
  flex: 2; /* Take up two-thirds of the width */
  margin-left: 20px;
  
}

.image-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#img{
  /* flex: 1; */
    max-width:85%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .button {
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
    color: #ffffff;
    background-color: #151616;
    border: 2px solid #232528;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .button:hover {
    background-color: #191a1b;
    border-color: #1f2020;
  }
  
  .button:active {
    background-color: #040404;
    border-color: #0e0f0f;
  }
  
