.details-flex{
    display: flex;
    position: relative;
    flex-direction: row;
    top: 30vh;
    justify-content: space-around;
    
}

.extra-details{
    width: 20vw;
    background-color:#7281d3;
    color: aliceblue;
    text-align: center;
    padding: 70px;
    border-radius: 50px;
}